<h1>Employee Login</h1>

<%= form_tag employee_login_path do %>
    <div class="input-field">
        <%= label_tag :username %>
        <%= text_field :username, nil,  autofocus: true%>
    </div>
    <div class="input-field">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
    </div>

    <%= submit_tag "Login" %>
<% end %>