
<%= form_for appointment do |f| %>

        <%= f.collection_select :employee_id, Employee.all, :id, :first_name, prompt: true, class: "browser-default" %>
        
    <div>
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "Notes/Requests" %>
    </div> 
    <div>   
        <%= f.label :appointment_date %>
        <%= f.datetime_field :appointment_date %>
    </div>
   
    <%= f.submit button_name %>

<% end %>

<script>$(document).ready(function(){
    $('select').formSelect();
  });</script>