<div class= "container">
<br>
<br>
<br>
<h3>&nbsp&nbsp&nbsp your calendar</h3>
<br>
<br>
<br>
<%= render partial: "calendar", locals: {appointments: @appointments} %>

<h3>&nbsp&nbsp&nbsp upcoming</h3>

   <% @current_appointments.each do |appointment|%>
        <li><%= link_to appointment.employee.first_name, appointment_path(appointment) %></li>
        <ul>&nbsp&nbsp&nbspDate: <%= appointment.appointment_date.strftime("%m / %d") %></ul>
        <ul>&nbsp&nbsp&nbspTime: <%= appointment.appointment_date.strftime("%l : %M - %p") %></ul>
    <%end%>
<h3>&nbsp&nbsp&nbsp past</h3>
    <br>
    <% @past_appointments.each do |appointment|%>
        <li><%= link_to appointment.employee.first_name, appointment_path(appointment) %></li>
        <ul>&nbsp&nbsp&nbspDate: <%= appointment.appointment_date.strftime("%m / %d") %></ul>
        <ul>&nbsp&nbsp&nbspTime: <%= appointment.appointment_date.strftime("%l : %M - %p") %></ul>
    <%end%>


</ul>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<%= render partial: "/layouts/footer" %>



