<h1>New Employee Appointment</h1>

<%= form_for [@employee, @appointment] do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div> 
    <div>   
        <%= f.label :appointment_date %>
        <%= f.datetime_field :appointment_date %>
    </div>

    <%= f.hidden_field :employee_id %>
    <%= f.hidden_field :employee_bio %>

    <%= f.submit "Schedule Appointment" %>

<% end %>
